
.categoryproducts{
    width:100%;
    display: flex;
    flex-direction:column;
}

.categoryproducts__header{
   margin-bottom : 20px;
   min-width: 20px;
   border-bottom: 1px solid rgb(214, 206, 206);
}

.categoryproducts__header__title{
    padding: 10px 10px;
    border-bottom: 2px solid #ef4e28;
    /* background-color: rgb(247, 241, 218);
    border-radius: 11px; */
}

.categoryproducts__details{
    display: flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    width:100%;
    /* background-color: rgb(247, 241, 218);
    border-radius: 11px; */
    /* background-color:antiquewhite; */
}

.categoryproduct{
    margin : 20px;
    height: 400px;
    width: 300px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    text-align:center;
    padding:20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


.categoryproduct__items__img > img {
    width: 100px;
    height:150px;
     object-fit: contain;
}

.categoryproduct__items__title{
    margin : 5px;
    font-size: 18px;
}

.categoryproduct__items__price{
   font-size : x-large;
   color: #DE3B12;
   font-weight:bold;
   margin : 12px auto;
}

.categoryproduct > button{
    width:100%;
    padding:10px;
    background-color :#e6542f;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: medium;
    color: white;
    border-radius: 4px;
    outline: none;
    border : none;
    cursor: pointer;
    transition: all 1s ease-out;
}
.categoryproduct > button:hover{
    background-color :#ad2502;
}






