.dispatchDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.dispatchDetails__deliveryAdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin : 0px auto;
    width:100%;
    text-align: center;
    background-color: rgb(247, 241, 218);
    margin-bottom: 20px;
}

.deliveryadd{
    width: 100%;
    /* margin : 30px 30px; */
    padding :30px 30px;
    /* background-color: brown; */
    display: flex;
    align-items:center;
    border-bottom: 1px solid rgb(214, 206, 206);
}

.deliveryadd >p {
    font-size : 20px;
}

.truckIcon , .paymenticon{
    font-size:large;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin-right: 12px;
    align-items:center;
    padding: 6px;
    background-color:pink;
    border : 1px solid white ;
}

.deliverypincode{
    width: 80%;
    margin: 20px auto;
    /* background-color: yellow; */
    padding: 20px;
    text-align: start;
    font-size : 18px;
    border : 1px solid grey;
}

.deliverypincode span{
    font-weight: bold;
}


.dispatchDetails__payment{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: rgb(247, 241, 218);
}

.payment__header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    padding:20px 20px;
    border-bottom: 1px solid rgb(214, 206, 206);
}

.payment__total{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.payment__flex{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;

}

.payment__shippingCharges ,.payment__amountPayable{
    border-bottom: 1px solid rgb(214, 206, 206);
}

.payment__header > p{
    font-size : 20px;
}

.payment__amountPayable > p{
    font-weight: bold;
    font-size:18px;
}


.payment__gstin , .payment__proceed{
    display: flex;
    justify-content:space-evenly;
    margin : 0px auto;
    width:100%;
    text-align: center;
    margin-top:15px;
}

.payment__gstin button{
    background-color: rgb(247, 241, 218); 
    border:1px solid grey;
}

.payment__gstin button,
.payment__proceed button
{     
    width:100%;
    padding:15px 15px;
    text-align: center;
    outline: none;
    position: relative;
    cursor:pointer;
    margin : 15px 15px;
}

.payment__proceed button{
    font-size:16px;
     background-color:#ef4e28;
     margin-top: -3px;
     color: white;
     border: none;
    
}

.payment__continueShopping{
    display: flex;
    align-items:center;
    justify-content: center;
    margin : 8px 8px;
    font-size : 18px;
    text-align: center;
    padding: 12px 12px;
    color: #ef4e28;
    cursor: pointer;
    
}

.rightarrowicon{
    text-align:center;
    font-size:small;
    width:20px !important;
    height:20px !important;
}

.gstinarrow{
    font-size:large;
    width: 20px !important;
    height:20px !important;
    position:absolute;
    top : 12px;
    right : 5px;
    bottom : 4px;
}