.shoppingcart__items{
    margin : 20px 20px;
    padding :20px 20px;
    display:flex;
    justify-content: space-between;
    max-height: 230px;
    min-width: inherit;
    border-bottom: 1px solid rgb(214, 206, 206);
    

}

.shoppingcart__items__left{
    display: flex;
    width: 60%;
}

.shoppingcart__product__img{
    width:100px;
    object-fit:contain;
    margin-right: 15px;
}

.shoppingcart__product__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
}

.shoppingcart__addoffers{
    display: flex;
    align-items:center;
    color: #ef4e28;
}

.shoppingcart__addoffers > p{
    margin-left: 5px;
}
.shoppingcart__items__right{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}


.shoppingcart__items__remove,
.removeFromBasket,
.saveforlater{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ef4e28;
    cursor: pointer;
}

.deleteicon,
.removeFromBasket{
    margin-right: 5px;
}

.heartIcon{
    font-size: small;
    width: 18px !important;
    height: 18px !important;
    margin-left: 5px;
    margin-right: 5px;
  
}